<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eTickets</title>

    <!-- Default BOOTSTRAP
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    -->

    <!-- FastBootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">

    <!-- MAIN CSS FILES-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/movieCard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tableAnimate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eTickets.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")

        @await Html.PartialAsync("_OffcanvasNavbar")
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-body">
        <div class="container">
            &copy; 2025 - eTickets
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap JS files 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    --> 
    <!-- FastBootstarp Js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- MAIN Js Files-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/themeToggler.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

