
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.table tbody tr {
    opacity: 0;
    animation-name: fadeInUp;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.pagination .page-item {
    margin: 0 5px;
}
